$color-primary: #212121;
$color-green: #43A047;
$color-blue: #1E88E5;
$color-red: #E53935;
$color-grey-light: #c7c7c7;
$color-grey: #8c8c8c;
$color-grey-dark: #6c6c6c;
$color-footer: #F7F7F7;
$color-orange: #F44336;