.gallery {
    width: 85%;
    margin: 12rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;

    &__card {
        background-image: url(../img/exclusive-product1.png);
        background-position: top;
        display: flex;
        align-items: center;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
        grid-template-rows: repeat(2, minmax(10rem, 1fr));
        gap: 3rem;
    }

    &__item {
        display: block;
        width: 100%;
        height: auto;

        &:hover {
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        }
    }
}