.header {
    min-height: 100vh;
    width: auto;
    background-image: url(../img/slider-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6.2rem 9.7rem 2rem 9.7rem;

    //flex-wrap: wrap;

    &--products {
        background-image: none;
        background-color: $color-footer;
        min-height: 36rem;
    }

    &--details {
        background-image: none;
        background-color: #fff;
        min-height: 12rem;
    }

    &__logo {
        width: 18.6rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        //margin-left: 9.7rem;
        //margin-right: 9.7rem;
        //padding-top: 6.2rem;
    }

    &__menu {
        list-style-type: none;
    }

    &__item {
        font-size: 1.4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-transform: uppercase;
        font-family: Montserrat Light, sans-serif;
        transition: all .2s;
        letter-spacing: 1.4px;
        display: inline-block;

        a,
        a:visited {
            text-decoration: none;
            color: $color-grey;
            display: inline-block;
            transition: all .2s;
        }

        a:hover {
            font-family: Montserrat, sans-serif;
            color: $color-primary;
            transform: translate(-2px);
        }

        a:active {
            transform: translate(0px);
        }

        &--active {
            border-bottom: 0.3rem solid #000;
            font-family: Montserrat, sans-serif;
            font-weight: 700;

            a,
            a:visited {
                text-decoration: none;
                color: $color-primary;
            }
        }


    }

    &__menu {
        display: flex;
    }

    &__content {
        //margin-left: 9.7rem;
        width: 40%;

        &--products {
            width: auto;
        }
    }

    &__text {
        font-family: Montserrat Light, AdobeInvisFont, MyriadPro Regular;
        font-size: 1.4rem;
        line-height: 2.5rem;
        width: 80%;
        margin-bottom: 3.1rem;
    }
}

.pagination {
    align-self: center;
    //margin-bottom: 1.9rem;

    display: flex;
    align-items: center;

    &__circle {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: $color-grey-light;
        border-radius: 20px;
        margin: 5px;

        &--active {
            width: 40px;
            height: 40px;
            background-color: $color-primary;
        }

        &:hover {
            background-color: $color-grey;
        }

        &:active {
            transform: translateY(0.1rem);
        }
    }
}