.trending {
    width: 85%;
    margin: 12rem auto;

    &__products {
        /*display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;*/
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        gap: 3rem;
        padding-top: 6.4rem;
    }

    &__product {
        //margin-bottom: 3rem;
        display: block;
        width: 100%;
        height: auto;
        transition: all .2s;

        &:hover {
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        }
    }
}