.btn {
    outline: none;
    display: block;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    padding: 1.7rem 3.2rem;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    //line-height: 4.5rem;
    letter-spacing: 0.36rem;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    cursor: pointer;
    transition: all .2s;

    &:hover {
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.5);
    }

    &:active {
        transform: translateY(0.3rem);
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.2);
    }
}