.btn {
    outline: none;
    background-color: #fff;
    color: $color-primary;
    border-radius: 40px;
    border: none;
    padding: 1.7rem 3.2rem;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    //line-height: 4.5rem;
    letter-spacing: 0.36rem;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    cursor: pointer;
    transition: all .2s;
    text-decoration: none;
    display: inline-block;

    &:hover {
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.5);
    }

    &:active {
        transform: translateY(0.3rem);
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.2);
    }

    &--orange {
        color: #fff;
        background-color: $color-orange;
        width: 100%;
        text-align: center;
    }
}

.btn--circle {
    border-radius: 50%;
    width: 4.9rem;
    height: 4.9rem;
    line-height: 48px;
    text-align: center;
    outline: none;
    display: block;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);

    img {
        height: 1.5rem;
        transform: translateY(20%);
    }
}


.explore {
    text-transform: uppercase;
    letter-spacing: 0.36rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: $color-primary;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        transform: translate(-3px);
    }

    &:active {
        transform: translate(0px);
    }

    @media only screen and (max-width: $bp-small) {
        display: none;
    }
}

.explore-btn {
    text-transform: uppercase;
    letter-spacing: 0.36rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: $color-primary;
    cursor: pointer;
    transition: all .2s;
    display: none;
    padding-top: 2rem;
    text-align: right;

    &:hover {
        transform: translate(-3px);
    }

    &:active {
        transform: translate(0px);
    }

    @media only screen and (max-width: $bp-small) {
        display: block;
    }

}

.upload {
    margin: 7rem auto 14rem auto;
    text-align: center;
    display: block;
    transition: all .5s;

    &__icon:hover {
        transform: scale(1.05);
    }

    &__icon:active {
        transform: rotateX(180deg);
    }

}