.heading-main {
    font-size: 6.2rem;
    font-family: Montserrat Thin, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    
}

.heading-trending {
    text-transform: uppercase;
    color: $color-green;
    font-size: 1.8rem;
    line-height: 4.8rem;
}